

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
   background-color: #495057;
   
}
.h1, .h2, .h3, .h5, .h6, h1, h2, h3, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    color: white;
}
.h4, h4 {
    font-size: 1.5rem;
    color: black;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
}
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
}
















